<div class="col-lg-2 col-md-3 col-xs-4">
  <div class="card">
    <a href="{{ product.url | within: collection }}">
      <img class="card-img-top" src="{{ product.featured_image.src | product_img_url: 'grande' }}"
           alt="{{ product.featured_image.alt | escape }}" />
    </a>
    <div class="card-block">
      <div class="card-title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </div>
      <div class="card-subtitle">
        {{ product.price | money }}
      </div>
    </div>
  </div>
</div>