<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page_title }} - {{ shop.name }}</title> 
  {{ content_for_header }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  {{ "style.css" | asset_url | stylesheet_tag }}
</head>
<body>
  <nav class="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href"#">Browse Category</a>
        </li>
        <li class="nav-item search-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </li>
        <form action="/search" method="get" role="search" class="nav-item">
          <input type="text" name="q" value="Search Book" class="form-control" />
        </form>
        {% for link in linklists.main-menu.links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="nav-item pull-xs-right">
          <a class="nav-link" href="/cart">Cart: {{ cart.item_count }} 
            {{ cart.item_count | pluralize: 'item', 'items' }}
            ({{ cart.total_price | money }})
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {{ content_for_layout}}
  </div>
  <footer>
    Footer here
    <ul>
      {% for link in linklists.footer.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </footer>
  {{ "option_selection.js" | shopify_asset_url | script_tag }}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/8b6d35a283.js"></script>
  {{ "main.js" | asset_url | script_tag }}
</body>
</html>