<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title> 
  {{ content_for_header }}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  {{ "main.js" | asset_url | script_tag }}
  {{ "option_selection.js" | shopify_asset_url | script_tag }}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {{ "style.css" | asset_url | stylesheet_tag }}
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            Browse Category<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        {% for link in linklists.main-menu.links %}
          <li {% if link.active %}class="current"{% endif %}>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="search">
          <form action="/search" method="get" class="search-form" role="search">
            <p>
              <input type="submit" value="Search" class="btn btn-secondary btn-sm" />
              <input type="text" name="q" value="Search Book" class="search-input" />
            </p>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="cart-info">
          <a href="/cart">Cart: {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
          ({{ cart.total_price | money }})</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {{ content_for_layout}}
  </div>
  <footer>
    Footer here
    <ul>
      {% for link in linklists.footer.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </footer> 
</body>
</html>